<div class="root-wrapper">
    <div class="root-index-wrapper">
        <div class="contents" v-repeat="contents">
            <h2 v-html="title">
                {{title}}
            </h2>

            <p class="content" v-html="content">
                {{content}}
            </p>

            <div class="dt">
                <small>
                    update at <span class="modified">{{updatedAt}}</span>
                </small>
            </div>
        </div>
    </div>

    <%= javascript_include_tag 'roots' %>
</div>
