<div class="root-wrapper">
    <div class="root-index-wrapper">
        <div class="contents" v-repeat="contents">
            <h2>
                {{title}}
            </h2>

            <p class="content">
                {{content}}
            </p>

            <div class="dt">
                <small>
                    update at <span class="modified">{{updatedAt}}</span>
                </small>
            </div>
        </div>
    </div>

    <%= javascript_include_tag 'entries' %>
</div>
