<div class="root-wrapper">
    <div class="root-index-wrapper">
        <div v-show="contents">
            <div class="contents" v-repeat="contents">
                <h2 v-html="title">
                    {{title}}
                </h2>

                <p class="content" v-html="content">
                    {{content}}
                </p>

                <div class="dt">
                    <small>
                        update at <span class="modified">{{updatedAt}}</span>
                    </small>
                </div>
            </div>

            <button class="more" v-on="click: more();">more</button>
        </div>

        <div class="notContents" v-show="!contents">
            <p>
                entry not found, plase <%= link_to "new entry,", admin_new_path %>
            </p>
        </div>
    </div>

    <%= javascript_include_tag 'roots' %>
</div>
