<div class="root-wrapper">
    <div class="root-index-wrapper">
        <div class="contents">
            <h3>
                {{title}}
            </h3>

            <p class="content">
                {{content}}
            </p>
        </div>
    </div>
</div>
