<div class="root-wrapper">
    <div class="root-index-wrapper">
        <div class="contents" v-repeat="contents">
            <h3>
                {{title}}
            </h3>

            <p class="content">
                {{content}}
            </p>

            <div class="dt">
                update at <span class="modified">{{updatedAt}}</span>
            </div>
        </div>
    </div>

    <%= javascript_include_tag 'entries' %>
</div>
