<div class="entry-wrapper">
    <div class="entry-detail-wrapper">
        <h1 class="title">
            {{title}}
        </h1>

        <div class="content">
            {{content}}
        </div>

        <div class="updatedAt">
            {{updatedAt}}
        </div>
    </div>
</div>
