<script type="text/javascript">;(function(){ App.Entry.Detail = new App.Entry.Format(<%= @entry.to_json.html_safe %>); })();</script>

<div class="entry-wrapper">
    <div class="entry-detail-wrapper">
        <h2 class="title" v-html="title">
            {{title}}
        </h2>

        <div class="content" v-html="content">
            {{content}}
        </div>

        <div class="updatedAt" v-html="updatedAt">
            update at {{updatedAt}}
        </div>
    </div>

    <%= javascript_include_tag 'entry/detail' %>
</div>
