.entry-wrapper {
    .entry-detail-wrapper {
        width: 70%; 
        margin: 0 auto;

        .title {
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
        }

        .content {
            margin: 10px 0;
            font-size: 18px;
        }

        .updatedAt {
            float: right;
            font-size: 15px;
        }
    }
}
