.root-wrapper {
    .root-index-wrapper {
        .contents {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 75px;

            h2 {
                padding-bottom: 5px;
                border-bottom: 1px solid #ddd;
            }

            .content {
                font-size: 17px;
            }

            .dt {
                float: right;
            }
        }

        .notContents {
            text-align: center;

            p {
                font-size: 22px;
            }
        }
    }
}
