<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <%= link_to "Home", admin_index_path %>
        </li>
        <li>
            <%= link_to "Post", admin_new_path %>
        </li>
    </ul>
</div>
